.content {
  height: 100vh;
  background-image: url("https://i.imgur.com/bAxVtp6.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: rgba(40, 40, 40, 0.25);
  border-top: 1.5px solid rgba(140, 140, 140, 0.75);
  border-bottom: 1.5px solid rgba(140, 140, 140, 0.75);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}

.top {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  margin-top: 0.5rem;
}

/*rgba(236, 110, 76, 1)*/

.top input {
  background-color: rgba(40, 40, 40, 0.25);
  border-top: 1.5px solid rgba(140, 140, 140, 0.75);
  border-bottom: 1.5px solid rgba(140, 140, 140, 0.75);
  border-radius: 1rem;
  border-left: none;
  border-right: none;
  backdrop-filter: blur(5px);
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.4rem 0.8rem;
  width: 50%;
  color: rgb(255, 255, 255);
}

.top input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

.searchIcon {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  width: 1.4rem;
  height: 1.4rem;
  right: 27.5%;
  cursor: pointer;
  transition: all 0.2s;
}

.searchIcon:hover {
  color: rgb(255, 255, 255);
}

.searchIcon:active {
  color: rgb(255, 255, 255);
  transform: scale(0.9);
}

.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome__content {
  background-color: rgba(40, 40, 40, 0.25);
  border-top: 1.5px solid rgba(140, 140, 140, 0.75);
  border-bottom: 1.5px solid rgba(140, 140, 140, 0.75);
  border-radius: 1rem;
  border-left: none;
  border-right: none;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.welcome__content h1 {
  color: rgba(236, 110, 76, 1);
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.welcome__content span {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.weather {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather__content {
  width: 35%;
  height: max-content;
  padding: 1rem 0 0 0;
  background-color: rgba(40, 40, 40, 0.25);
  border-top: 1.5px solid rgba(140, 140, 140, 0.75);
  border-bottom: 1.5px solid rgba(140, 140, 140, 0.75);
  border-radius: 1rem;
  border-left: none;
  border-right: none;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.city_name {
  color: rgba(236, 110, 76, 1);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.city_info {
  color: rgba(255, 255, 255);
  font-size: 1.5rem;
  font-family: "Calibri", sans-serif;
  font-weight: 400;
  margin: 0.2rem 0 0 0;
}

.city_info span {
  color: rgba(236, 110, 76, 1);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

.city_data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 75px;
}

.bot {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0.5rem;
  text-align: center;
}

.bot p {
  cursor: default;
  color: rgba(255, 255, 255, 0.25);
  font-size: 0.8rem;
  transition: color 0.2s;
  font-weight: 300;
}

.bot p:hover {
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 920px) {
  .top input {
    width: 90%;
  }

  .searchIcon {
    right: 9%;
  }
}

@media screen and (max-width: 524px) {
  .welcome__content h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .welcome__content span {
    display: none;
  }

  .welcome__content {
    width: max-content;
    height: max-content;
    padding: 1.2rem;
  }
}

@media screen and (max-width: 428px) {
  .bot {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 0.5rem;
    text-align: center;
    flex-direction: column;
  }

  .bot p:not(:first-child) {
    display: none;
  }
}

@media screen and (max-width: 836px) {
  .weather__content {
    width: max-content;
    padding: 1rem 1.6rem 0 1.6rem;
  }
}

@media screen and (max-width: 340px) {
  .city_name {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .city_info {
    font-size: 1rem;
    font-weight: 400;
  }

  .city_info span {
    font-size: 1rem;
  }

  .icon {
    width: 50px;
  }
}

@media screen and (max-width: 220px) {
  .weather__content {
    padding: 0.75rem 1.3rem 0 1.3rem;
  }

  .city_name {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .city_info {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .city_info span {
    font-size: 0.75rem;
  }

  .icon {
    width: 25px;
  }
}
